.h1 {
    background-color: aqua;
    height: 500px;
}

.h11 {
    position: relative;
    top: 80px;
    left: 30px;
    width: 662px;
    height: 189px;
    font-family: sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 73.66px;
    text-align: left;
    color: #565353;
}

.h2 {
    position: relative;
    top: 75px;
    left: 35px;
    width: 650px;
    height: 189px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 73.66px;
    text-align: left;
    color: black;
}

.apply1 {
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 700;
}

.navb1 {
    position: relative;
    left: 35px;
    width: 113px;
    height: 44px;
    padding: 20px 70px;
    border-radius: 8px;
    color: white;
    background-color: #5C27C0;
    font-size: 14px;
    text-decoration-line: none;
}

.girl {
    width: 849px;
    height: 621px;
    position: absolute;
    top: 126px;
    left: 500px;
    gap: 0px;
    opacity: 0px;

}

.y1 {
    width: 579px;
    height: 579px;
    position: absolute;
    top: 200px;
    left: 685px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    background-color: #5C27C0;
}

.y2 {
    width: 286px;
    height: 129px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: white;
    position: absolute;
    right: 30px;
    top: 385px;
}
.y3{
    width: 286px;
    height: 129px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: white;
    position: absolute;
    right: 30px;
    top: 560px;
}
.y4{
    width: 59px;
height: 59px;
position: relative;
top: 23px;
left: 22px;
gap: 0px;
opacity: 0px;

}
.y5{
    width: 80px;
height: 18px;
position: absolute;
top: 25px;
left: 95px;
gap: 0px;
opacity: 0px;

}
.sharma{
    font-family: sans-serif;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.011em;
text-align: center;

}
.y6{
    width: 85px;
height: 15px;
position: absolute;
top: 53px;
left: 90px;
gap: 0px;
opacity: 0px;

}
.y7{
    font-family: sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.011em;
text-align: center;

}
.y8{
    width: 64px;
height: 15px;
position: absolute;
top: 71px;
left: 90px;
gap: 0px;
opacity: 0px;
}
